# --- Data ---
data/*.csv
data/*.zip
Recommendation_Submission.csv

# --- Jupyter & Notebooks ---
.ipynb_checkpoints/
*/.ipynb_checkpoints/*

# --- Python ---
__pycache__/
*.py[cod]
*$py.class

# --- System & IDE ---
.DS_Store
Thumbs.db
.vscode/
.idea/

# ignore the ipynb file in favor of the markdown file
H&M Recommendations.ipynb